{% extends 'base.html.twig' %}
{% set myGraph = "annee" %}
{% set  mois_list = [
  "Janvier",
  "Fevrier",
  "Mars",
  "Avril",
  "Mai",
  "Juin",
  "Juillet",
  "Aout",
  "Septembre",
  "Octobre",
  "Novembre",
  "Decembre"
]%}

{% set annees_list = [2020,2021,2022] %}
{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}

	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">>
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="index.html">PowerGuard</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-user fa-fw"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

					<li><hr class="dropdown-divider"/></li>
					<li>
						<a class="dropdown-item" href="#!">Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Resume</div>
						<a class="nav-link" href="/annee">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div>
							Dashboard
						</a>
						<div class="sb-sidenav-menu-heading">Admin</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div>
							Choix periode
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="#" onclick="myGraph('','','tout')">Toutes les annees</a>
								{% for annee in annees_list %}
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse{{annee}}" aria-expanded="false" aria-controls="collapse{{annee}}" onclick="myGraph('{{annee}}','','mois')">
										<div class=" sb-nav-link-icon">
											<i class="fas fa-columns"></i>
										</div>
										{{annee}}
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="collapse{{annee}}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
										<nav class="sb-sidenav-menu-nested nav">
											{% for mois in mois_list %}

												<a class="nav-link" href="#" onclick="myGraph('{{annee}}','{{mois}}','jour')">{{mois}}</a>

											{% endfor %}
										</nav>
									</div>
								{% endfor %}
							</nav>
						</div>

					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">PowerGuard</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Criteres</li>
					</ol>
					<div class="row">
						<div class="col-xl-12 col-md-12">
							<div class="card bg-secondary text-white mb-4">
								<div class="card-body">Isolation des murs exterieurs</div>
								<div class="card-footer d-flex ">
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck1">
											Bonne
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="flexRadioDisabled">
											Moyenne
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck2">
											Mauvaise
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-12 col-md-12">
							<div class="card bg-secondary text-white mb-4">
								<div class="card-body">Isolation du toit</div>
								<div class="card-footer d-flex ">
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck1">
											Bonne
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="flexRadioDisabled">
											Moyenne
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck2">
											Mauvaise
										</label>
									</div>
								</div>
							</div>
						</div>

						{# ///////////////////////////// #}

						<div class="col-xl-12 col-md-12">
							<div class="card bg-secondary text-white mb-4">
								<div class="card-body">Type de vitrage</div>
								<div class="card-footer d-flex ">
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck1">
											Simple vitrage
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="flexRadioDisabled">
											Double vitrage
										</label>
									</div>
									<div class="form-check me-5">
										<input class="form-check-input" type="radio" value="" name="flexRadioDisabled">
										<label class="form-check-label" for="defaultCheck2">
											Triple vitrage
										</label>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</main>
		</div>
	</div>
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; Your Website 2023</div>
				<div>
					<a href="#">Privacy Policy</a>
					&middot;
					<a href="#">Terms &amp; Conditions</a>
				</div>
			</div>
		</div>
	</footer>
</div></div>{% endblock %}
